// include.pug - Includes libraries and stuff

// UTF-8 is master text encoding
meta(charset="UTF-8")

// CSS Libraries
link(href='/css/normalize.css', rel='stylesheet')
link(href='/css/skeleton.css', rel='stylesheet')
link(href='/css/animate.css', rel='stylesheet')

// CSS Files
link(href='/css/custom.css', rel='stylesheet')
link(href='/css/loader.css', rel='stylesheet')

// Javascript Libraries
script(src='/js/jquery-2.2.4.min.js')
script(src='/js/jquery-pjax.js')

// Javascript files
script(src='/js/app.js')

// Show things
title Advisinator
